﻿@model IEnumerable<ChoreTracker.Models.PrizeModel>

@{
    ViewBag.Title = "Prizes";
}

<h2>@ViewBag.Title</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create Prize", "Edit")
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
               @item.ExpirationDate.ToShortDateString()
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin") || User.IsInRole("user"))
                    {
                        @Html.ActionLink("Buy", "BuyPrize", new { id = item.Id }, new { onclick = "return alert('Are you sure you want to buy this prize?')" })
                                            }
                                        }
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        @:|
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                        @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return alert('Are you sure you want to delete this task?')" })
                    }
                }
            </td>
        </tr>
    }

</table>
