﻿@model IEnumerable<FromScratch.Models.TaskModel>


    @foreach (var taskModel in Model)
    {
        <div>
            <h2>@taskModel.Id</h2>
            <h3>@taskModel.Name</h3>
            <h4>@taskModel.Description</h4>
        </div>
    }


