﻿@using ChoreTracker.Extensions
@using ChoreTracker.Models
@model IEnumerable<PrizeModel>

@{
    ViewBag.Title = "Purchased Prizes";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{  DatabaseContext dbContest = new DatabaseContext();
                    var user = dbContest.Users.FirstOrDefault(x => x.UserGuid.Equals(item.OwnerUserGuid));
                }
                @if (user != null)
                {
                    @(user.FirstName);
                }
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Complete Transaction", "Complete", new { Id = item.Id }, new { onclick = "return confirm('Are you sure you want to complete this transaction?')" })
                    }
                }
            </td>
        </tr>
     }
</table>


