﻿@using ChoreTracker.Extensions
@using ChoreTracker.Models
@model IEnumerable<ChoreTracker.Models.TaskModel>

@{
    ViewBag.Title = "Completed Tasks";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @item.DueDate.ToShortDateString()
            </td>
            <th>
                @item.Status.GetDisplayName()
            </th>
            <td>
                @{  DatabaseContext dbContest = new DatabaseContext();
                    var user = dbContest.Users.FirstOrDefault(x => x.UserGuid.Equals(item.AssignedAccountId));
                }
                @if (user != null)
                {
                    @(user.FirstName);
                }
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Cancel", "Cancel", new { id = item.Id });
                        @:|
                        @Html.ActionLink("Complete", "Complete", new { id = item.Id }, new { onclick = "return alert('Are you sure you want to complete this task?')" })
                    }
                }
            </td>
        </tr>
    }
</table>


