﻿@model IEnumerable<ChoreTracker.Models.TaskModel>
@using ChoreTracker.Models;
@using ChoreTracker.Extensions

@{
    ViewBag.Title = "My Tasks";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @item.Status.GetDisplayName()
        </td>
        <td>
            @item.DueDate.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Start", "Start", new { id = item.Id }) |
            @Html.ActionLink("Cancel", "Cancel", new { id = item.Id }) |
            @Html.ActionLink("Complete", "Complete", new { id = item.Id }, new { onclick = "return alert('Are you sure you are done?')" })
        </td>
    </tr>
}

</table>
