﻿@using ChoreTracker.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        var _dbContext = new DatabaseContext();
        int _purchaseCount = _dbContext.Prizes.Where(x => !String.IsNullOrEmpty(x.OwnerUserGuid)).Count();
        int _completedTaskCount = _dbContext.Tasks.Where(x => x.Status == Enums.ChoreStatus.Complete).Count();

    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin") || User.IsInRole("user"))
                            {
                                <li>@Html.ActionLink("My Tasks", "Index", "MyTasks")</li>
                                if (_completedTaskCount > 0)
                                {
                                    <li>@Html.ActionLink("Completed", "Index", "CompletedTasks")</li>
                                }
                            }
                        }
                        <li>@Html.ActionLink("Prizes", "Prize", "Prize")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if ((User.IsInRole("admin") || User.IsInRole("user")) && _purchaseCount > 0)
                            {
                                <li>@Html.ActionLink("Purchases", "Index", "PrizePurchases")</li>
                            }
                        }
                        <li>@Html.ActionLink("Rules", "Contact", "Home")</li>
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
