﻿@using Microsoft.AspNet.Identity
@using ChoreTracker.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        //var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
        //var currentUser = manager.FindById(User.Identity.GetUserId());

        var dbContext = new DatabaseContext();
        string userGuid = User.Identity.GetUserId();
        var user = dbContext.Users.FirstOrDefault(x => x.UserGuid.Equals(userGuid));

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + user.FirstName, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            <li class="BankBalance">
                <table>
                    <tr>
                        @if (user != null)
                        {
                            <td>@user.Bank</td>
                            <td><img class="TokenIcon" src="@Url.Content("~/Content/Images/Icon_credits.png")" /></td>
                        }
                    </tr>
                </table>               
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
