﻿@{
    ViewBag.Title = "The Rules";
}

<div>
    <h1>@ViewBag.Title</h1><br>
    <em>1. You get points for doing chores.</em><br>
    <em>2. Use your points to get stuff from the prize page.</em><br>
    <em>3. If you mark a task complete and its not. <br />Up to half point value of the task will be removed from your total.</em><br><br>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:andy.ellingson@outlook.com">andy.ellingson@outlook.com</a><br />
</address>