﻿@using ChoreTracker.Extensions
@model IEnumerable<ChoreTracker.Models.TaskModel>

@{
    ViewBag.Title = "Available Tasks";
}

<h2>@ViewBag.Title</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("admin"))
    {
        @Html.ActionLink("Create Task", "Edit")
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th >
            @Html.DisplayNameFor(model =>model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @item.DueDate.ToShortDateString()
        </td>
        <th>
            @item.Status.GetDisplayName()
        </th>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin") || User.IsInRole("user"))
                {
                    @Html.ActionLink("Claim", "Claim", new { id = item.Id }, new { onclick = "return alert('Are you sure you want to claim this task?')" })
                }
            }
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("admin"))
                {
                    @:|
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                    @:|
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return alert('Are you sure you want to delete this task?')" })
                }
            }
        </td>
    </tr>
    }

</table>


